{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'id': 'form'}}) }}

<section id="contactForm">
    <section id="name">
        <div class="formDiv">
            <p>Prénom</p>
            {{ form_widget(form.firstName, {'attr': {'class': 'input'}}, required) }}
        </div>
        <div class="formDiv">
            <p>Nom de famille</p>
            {{ form_widget(form.lastName, {'attr': {'class': 'input'}}, required) }}
        </div>
    </section>

    <div class="formDiv">
        <p>Email</p>
        {{ form_widget(form.mail, {'attr': {'class': 'input', 'placeholder': 'exemple@monmail.com'}}, required) }}
    </div>
    <div class="formDiv">
        <p>Votre message</p>
        {{ form_widget(form.message, {'attr': {'id': 'textarea'}}, required) }}
    </div>

    <div id="contactSubmit">
        <button type="submit" id="contactButton">Envoyer</button>
    </div>
</section>
{{ form_end(form) }}
{% endblock %}
