{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'id': 'form'}}) }}
    {{ form_widget(form.firstName, {'attr': {'class': 'input'}}, required) }}
    {{ form_widget(form.lastName, {'attr': {'class': 'input'}}, required) }}
    {{ form_widget(form.mail, {'attr': {'class': 'input'}}, required) }}
    {{ form_widget(form.message, {'attr': {'id': 'message'}}, {'name': 'foo'}) }}
    <button type="submit">Envoyer</button>
{{ form_end(form) }}
{% endblock %}
